# Replace <__> with value (e.g. port=<port> --> port=1234)

DB_DRIVER=postgres
DB_DATA_SOURCE_NAME="host=localhost port=<port> user=<username> password=<password> dbname=<dbname> sslmode=disable"
CACHE_DIR="./<foldername>"