{{ template "base" .}}

{{ define "content"}}

<h2>Artwork</h2>
<div>Icons made by <a href="https://www.flaticon.com/authors/srip" title="srip">srip</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

{{ end }}
