{{ template "base" .}}

{{ define "content"}}

<h2 class="my-3">Help/FAQ</h2>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Why do some company filings have multiple company names?</h5>
        <p class="card-text">Some filings have multiple company names because the company has changed its name.</p>
    </div>
</div>

{{ end }}