{{ template "base" .}}

{{ define "head"}}
    <title>Equres > Home Page</title>
{{ end }}

{{ define "content"}}
    <ul>
        {{ range .Years }}
            <li><a href="/filings/{{ . }}">{{ . }}</a></li>
        {{ end}}
    </ul>
{{ end }}