{{ template "base" .}}

{{ define "content"}}
    <h3>Year: {{ .Year }}</h3>
    <ul>
        {{ range .Months }}
            <li><a href="/search/{{ $.Year }}/{{ . }}">{{ . }}</a></li>
        {{ end}}
    </ul>
{{ end }}