{{ template "base" .}}

{{ define "head"}}
    <title>Equres > {{ .Year }} Company Filings</title>
{{ end }}

{{ define "content"}}
    <h3>Financial Filings For {{ .Year }}</h3>
    <ul>
        {{ range .Months }}
            <li><a href="/filings/{{ $.Year }}/{{ . }}">{{ . }}</a></li>
        {{ end}}
    </ul>
{{ end }}